body {
  font-family: "Roboto";
  font-style: normal;
  background-color: #f5f8fa;
}

header {
  position: sticky;
  top: 0;
  height: 180px;
  display: flex;
  background-color: #e9f0f4;
  padding-left: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.all-btn {
  font-weight: 500;
  color: #455266;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
}

.title {
  font-weight: 500;
  font-size: 40px;
  color: #455266;
  margin-top: 70px;
  margin-right: 65px;
}

.new-task-button {
  font-size: 16px;
  background: #e9ffe3;
  margin-top: 70px;
  width: 250px;
  height: 43px;
}

.tasks-block {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  flex-wrap: wrap;
}

.task-title {
  height: 19px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #455266;
  padding: 10px;
}

.task {
  color: #455266;
  width: 200px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.task-name {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 7px;
}

.task-discription {
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px;
}

.task-parameter {
  font-weight: 700;
  font-size: 12px;
  margin-right: 5px;
}

.task-wrapper {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.button-close {
  font-weight: 700;
  font-size: 16px;
  color: #a80f0f;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-close-wrapper {
  display: flex;
  justify-content: space-between;
}

.assigned-value {
  color: #000000;
  font-weight: 400;
  font-size: 12px;
}

.assigned-img {
  width: 16px;
  height: 16px;
  padding-right: 5px;
}

.priority-value {
  color: #0eacc1;
  font-weight: 700;
  font-size: 12px;
  padding: 2px 8px;
  background: rgba(14, 172, 193, 0.1);
  border-radius: 100px;
  text-align: center;
}

.date-value {
  color: #455266;
  font-weight: 400;
  font-size: 12px;
}

.tag-edit-wrapper {
  display: flex;
  justify-content: space-between;
}

.btn-tag {
  color: #455266;
  width: 43px;
  height: 18px;
  font-weight: 700;
  font-size: 12px;
  flex-direction: row;
  align-items: center;
  background: #f5f8fa;
  border-radius: 100px;
  border: none;
}

.btn-edit {
  color: #455266;
  border: none;
  background: none;
}

.add-form-wrapper {
  display: flex;
  justify-content: center;
}

.add-form {
  display: flex;
  flex-direction: column;
  height: 395px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 20px;
}

.add-form-title {
  text-align: center;
  color: #455266;
  font-weight: 800;
  font-size: 14px;
  padding-left: 85px;
}

.add-form-parameter {
  color: #455266;
  margin-bottom: 5px;
  margin-top: 13px;
}

.add-form-input {
  width: 264px;
  height: 26px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.btn-icon-arrow {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  background: none;
  color: #d9d9d9;
}

.dropdown-wrapper {
  width: 182px;
  height: 26px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.dropdown-wrapper li {
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.dropdown-wrapper:hover ul {
  opacity: 1;
  visibility: visible;
}

.dropdown-value {
  position: absolute;
  background: #ffffff;
  color: #455266;
  font-weight: 400;
  font-size: 12px;
  width: 182px;
  border: 1px solid #eeeeee;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s opacity ease-in-out;
}

.dropdown-value li {
  padding: 0.5rem 0.7rem;
  border-radius: 8px;
  transition: 0.4s ease-in-out;
}

.dropdown-value li:hover {
  background: #455266;
  color: white;
}

.add-form-date {
  color: #455266;
  font-weight: 700;
  font-size: 12px;
  width: 76px;
  height: 14px;
  border: none;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.form-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.cancel-button {
  font-size: 14px;
  width: 115px;
  height: 26px;
  background: #f0f0f0;
}

.add-button {
  font-size: 14px;
  width: 115px;
  height: 26px;
  background: #e9ffe3;
}
